<tp-yt-paper-dialog class="style-scope ytd-popup-container tunkit_template">
  <img class="tunkit_close_template" src="{{icon.close}}" />
  <h1 style="text-align: center" class="tunkit_title_template_dialog">Edit template</h1>
  <div class="input_form_wrapper">
    <label>Name</label>
    <input class="tunkit_input tunkit_template_name" style="padding: 12px 0" />
  </div>
  <div class="input_form_wrapper" style="display: flex; flex-direction: column; gap: 5px">
    <label>Description</label>
    <textarea class="tunkit_textarea tunkit_template_description" cols="70" rows="10"></textarea>
  </div>
  <button
    class="tunkit_save_template yt-spec-button-shape-next yt-spec-button-shape-next--filled yt-spec-button-shape-next--mono yt-spec-button-shape-next--size-m"
    style="margin: 1em 1em 0 0; float: right; padding: 1em 3em"
  >
    Save
  </button>
  <button
    class="tunkit_delete_template yt-spec-button-shape-next yt-spec-button-shape-next--filled yt-spec-button-shape-next--mono yt-spec-button-shape-next--size-m"
    style="margin: 1em; float: right; padding: 1em 3em; background: #434343; color: white"
  >
    Delete
  </button>
</tp-yt-paper-dialog>
