<div class="tunkit_timeline_interface tunkit_timeline_flashcard_interface">
  <div class="tunkit_flashcard_wrapper">
    <div class="tunkit_flashcard_inner">
      <div class="tunkit_flashcard_front">
        <div class="tunkit_align_center" style="justify-content: center; margin-bottom: 1em">
          <div class="tunkit_badge_timeline_interface" style="transform: scale(0.7)">
            <img src="{{icon.flashcard}}" />Flashcard
          </div>
          <div
            class="tunkit_skip_timeline_interface"
            style="transform: scale(0.5); min-width: fit-content; text-decoration: underline"
          >
            Skip
          </div>
        </div>
        <div class="tunkit_flashcard_front_content"></div>
      </div>
      <div class="tunkit_flashcard_back"></div>
    </div>
  </div>
</div>
