<div class="ytp-menuitem tunkit_template_panel_item" role="menuitem">
  <div class="ytp-menuitem-icon">
    <img src="{{icon.subtitles}}" />
  </div>
  <div class="ytp-menuitem-label tunkit_template_panel_item_name"></div>
  <div class="ytp-menuitem-content">
    <span class="tunkit_subtitles_author"
      ><span style="min-width: 4.4em" class="tunkit_template_panel_item_total_note"> notes</span
      ><span class="ytp-menu-label-secondary"><img class="tunkit_template_icon_detail" src="{{icon.info}}" /></span
    ></span>
  </div>
</div>
