<div class="panel_timeline_typing">
  <div style="display: flex; flex-direction: column; gap: 5px">
    <label>Question</label>
    <textarea class="tunkit_textarea tunkit_timeline_typing_card_question" cols="70" rows="10"></textarea>
  </div>
  <div style="display: flex; flex-direction: column; gap: 5px; margin-top: 1em">
    <label>Answer</label>
    <div class="tunkit_action_typing_wrapper"></div>
    <button style="margin: 0 auto; margin-top: 1em" class="tunkit_btn_action" id="tunkit_add_new_action_typing">
      <span>+</span>Add new
    </button>
  </div>
</div>
