<div class="tunkit_timeline_interface tunkit_action_typing_interface">
  <input class="tunkit_input_timeline_typing" />
  <div style="display: flex; align-items: center; gap: 10px">
    <button
      class="yt-spec-button-shape-next yt-spec-button-shape-next--filled yt-spec-button-shape-next--mono yt-spec-button-shape-next--size-m tunkit_button_typing tunkit_button_typing_cancel"
    >
      Cancel
    </button>
    <button
      class="yt-spec-button-shape-next yt-spec-button-shape-next--filled yt-spec-button-shape-next--mono yt-spec-button-shape-next--size-m tunkit_button_typing tunkit_button_typing_submit"
    >
      Submit
    </button>
  </div>
</div>
